html {
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: tarzana-narrow, sans-serif;
}

/* alle kleuren
- donkerpaars: #5b263f
- lichterpaars: #742945
- lichtpaars: #7e2d4f
-lichtgroen: #086d76
- donkergroen: #055b61

styling nav bar */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10rem;
    text-transform: uppercase;
    font-weight: 700;
}

.logo img {
    height: 6rem;
    margin: 0.5rem 0rem;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    width: 40%;  
}

.navLinks a {
    color: black;
    text-decoration: none;
    font-size: 1.7rem;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
    
}

.navLinks li a:hover{
    color: #7d2d4e;
}

.coolLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #086d76;
    transition: width .3s;
}

.coolLink:hover::after {
    width: 100%;
    transition: width .3s;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

/* styling van de main */
main {
    min-height: calc(100vh - 75.7px - 184px);
}

.headerMain {
    height: 50rem;
    width: 100vw;
    background-color: #7e2d4f;
} 

.infoMain, .wijMain {
    width: 80vw;
    margin: auto;
}

.infoMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 7rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 5rem;
    text-align: center;
}

.infoMain img{
   width: 50%;
}

.tips, .hulp, .contact {
    text-align: center;
}

h2 {
    font-size: 4rem;
    font-weight: 600;
    color: #7e2d4f;
}


.infoMain a {
    text-decoration: none;
    font-weight: 600;
    color: #7e2d4f;
}

.infoMain p {
    margin-top: 3rem;
}

.onsMain {
    background-color: #7e2d4f;
    color: white;
    padding: 10rem 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    justify-items: center;
}

.onsMain img{
    height: 18rem;
    margin-top: 1rem;
}

.onsMain h2{
    color: white;
}

.onsMain p{
    margin-top: 1rem;
}


.imgKader {
    width: 20rem;
    height: 20rem;
    background-color: black;
}

.wijMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 15rem 0rem;
    margin-left: auto;
    margin-right: auto;
    gap: 5rem;
    justify-items: center;
}

.wijMain p {
    font-size: 2.5rem;
    margin-top: 2rem;
}

.contactForm {
    width: 100%;
    height: auto;
    background-color: #7e2d4f;
    padding: 5rem;
    margin-bottom: 7rem;
}

.contactForm h2 {
    color: white;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}

.contactKader {
    width: 50%;
    height: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 7rem;
}

.naam, .emailadres, .bericht {
    margin-top: 2rem;
}

.naam input, .emailadres input, .bericht textarea {
    margin-top: 1rem;
    width: 100%;
    font-family: tarzana-narrow, sans-serif;
    font-size: 1.7rem;
    color: black;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid black;
}

.bericht input {
    height: 10rem;
}

.contactKader button {
    background-color: #086d76; 
    font-size: 2rem;
    border: none;
    color: white;
    font-family: tarzana-narrow, sans-serif;
    padding: 1rem 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.contactKader button:hover {
    background-color: #055b61;
    cursor: pointer;
}

/* styling van de footer */
footer {
    background-color: #086d76;
    color: white;
}

.footerBlok {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.footerBlok img {
    height: 6rem;
}

.footerBlok a {
    color: white;
    font-size: 2rem;
}

.footerBlok a:hover {
    color: rgb(194, 194, 194);
}

@media screen and (max-width: 1024px) {
    .navLinks {
        width: 60%;  
    }
}

@media screen and (max-width: 840px) {
    body {
        overflow-x: hidden;
    }

    .logo {
        margin-left: -5rem;
    }

    .burger {
        margin-right: -5rem;
    }

    .navLinks {
        position: absolute;
        right: 0px;
        height: 55vh;
        top: 7.5vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .navLinks li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .infoMain {
        grid-template-columns: 1fr;
    }

    .onsMain {
        grid-template-columns: 1fr;
        padding: 5rem 7rem;
    }

    .wijMain {
        grid-template-columns: 1fr;
    }

    .contactKader {
        width: 100%;
    }

    .contactForm h2 {
        color: white;
        margin: 0 0 2rem 0;
    }

    .footerBlok {
        grid-template-columns: 1fr;
    }

    .footerBlok img, .footerBlok div {
        margin-bottom: 3rem;
    }

    .footerBlok img {
        margin-top: 3rem;
    }
}

.navActive {
    transform: translateX(0%)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50%)
    }

    to {
        opacity: 1;
        transform: translateX(0%)
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(+45deg) translate(-5px,-6px);
}